//****************************/
//* VARIABLES*/
//****************************/
//? === COLORS ===
$color-primary: #ffe066;
$color-primary-dark: #be9e1f;

$color-secondary: #804cab;

$color-grey: #495057;
$color-grey-light-1: #fff6d8;
$color-grey-light-2: #f4f2f2;
$color-grey-dark-1: #333;

$color-outline-focus: rgba(198, 162, 226, 0.6);

//****************************/
//* MIX-INS*/
//****************************/
@mixin menu-btn-hover($color) {
  &:hover {
    background-color: #fff;
    color: $color;
  }
}
