@use "../abstracts" as *;

$--border-width: 2px;

.new-entry {
  display: flex;
  gap: 1.2rem;

  &__input {
    padding: 0.8rem 1.2rem;
    font-size: 1.6rem;
    font-weight: 600;
    border: none;
    border-top: $--border-width solid $color-grey;
    border-right: $--border-width solid $color-grey-light-2;
    border-bottom: $--border-width solid $color-grey-light-2;
    border-left: $--border-width solid $color-grey;
    border-radius: 0.8rem;

    flex: 1;
  }
}
